version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(cargo)"
    groups:
      rust:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: "/"
    exclude-paths:
      - .github/workflows/release.yml # this is managed by cargo-dist
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci"
